.container {
    display: flex;
    padding-left: 40px;
}
.containerleft {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    width: 60%;
}

.containerright {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.containerright img {
    display: flex;
    max-width:830px;
    max-height:595px;
    width: auto;
    height: auto;
}

.name {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    margin: 0;
}

.quote {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    line-height: 1;
}

.description {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    padding-top: 30px;
}

@media (max-width: 1300px) {
    .name {
        text-align: center;
    }
    .container {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }
    .containerleft {
        
        width: 100%;
    }
    .containerright {
        justify-content: center;
        width: 100%;
    }
    .quote {
        text-align: center;
    }
    .description {
        font-size: 2vw;
        padding-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .containerright img {
        display: flex;
        max-width:430px;
        max-height:450px;
        width: auto;
        height: auto;
    }
    .description {
        font-size: 4vw;
    }
    .quote {
        font-size: 4vw;
    }
    .name {
        padding-bottom: 10px;
    }
}