.characterImage {
    border-style: solid;
    border-color: rgb(63, 63, 63);
    width: 400px;
  }
  
  .characterImage:hover {
    border-color: rgb(38, 111, 179);
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 100px;
  }
  
  .characterProfile {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  .intro {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  .characterProfile:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .gameContainer {
    display: flex;
    width: 10%;
  }

  .characterContainer {
    display: flex;
    flex-direction: column;
  }

  .gameText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: "Jersey 10", sans-serif;
    font-size: 2rem;
    padding: 15px;
    letter-spacing: -5px;
    padding-left: 0;
    margin-left: 0;
    background: linear-gradient(180deg, rgba(52, 82, 157, 1) 0%, rgba(36, 36, 36, 1) 100%);
  }

  .characterRow {
    display: flex;
  }

  .name {
    background: linear-gradient(90deg, rgba(63, 63, 63, 1) 0%, rgba(63, 63, 63, 0.52) 100%);
    width: 100%;
    color: rgb(202, 202, 202);
  }
  @media (max-width: 1300px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .gameText {
      writing-mode: horizontal-tb;
      text-orientation: sideways-right;
      font-family: "Jersey 10", sans-serif;
      padding: 15px;
      letter-spacing: 5px;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      background: linear-gradient(180deg, rgba(52, 82, 157, 1) 0%, rgba(36, 36, 36, 1) 100%);
      text-align: center;
    }
    .gameContainer {
      justify-content: center;
      width: 100%;
    }
    .characterRow {
      flex-direction: column;
      align-items: center;
    }
    .intro {
      font-family: "Jersey 10", sans-serif;
      font-size: 1.5rem;
      padding: 15px;
      text-align: center;
    }
  }

  @media (max-width: 800px) {
    .characterImage {
      width: 50vw;
    }

    .name {
      text-align: center;
      position: static;
      font-size: 5vw;
    }
  }