.characterImage {
    border-style: solid;
    border-color: rgb(63, 63, 63);
    width: 400px;
  }
  
  .characterImage:hover {
    border-color: rgb(38, 111, 179);
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .characterProfile {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .characterProfile:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }