.characterImage {
    border-style: solid;
    border-color: rgb(63, 63, 63);
    width: 400px;
  }
  
  .characterImage:hover {
    border-color: rgb(38, 111, 179);
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }
  
  .characterProfile {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .intro {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  .characterProfile:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .gameContainer {
    display: flex;
    width: 10%;
  }

  .characterContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .gameText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: "Jersey 10", sans-serif;
    font-size: 2rem;
    padding: 15px;
    letter-spacing: -5px;
    padding-left: 0;
    margin-left: 0;
  }

  .characterRow {
    display: flex;
  }
  @media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }