.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #333 0%, rgba(0, 176, 212, 0.43) 100%);
    min-height: 50vh;
    padding-left: 10px;
}

.pcontainer {
    width: 50%;
}

h1 {
    font-size: 30px;;
}