.container {
    display: flex;
    flex-direction: row;
    min-width: 100vh;
}
.ulcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.lidesign {
    margin-right: 10px;
}