.logo {
    width: 400px;
    height: auto;
    padding: 0;
}
.companionapp {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    opacity: 70%;
    font-size: 50px;
    margin-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    .companionapp {
        text-align: center;
        font-size: 10vw;
    }
    .container {
        place-items: center;
    }
}