.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #333;
    color: white;
    list-style: none;
}
.navbarright {
    display: flex;
}


.navbarleft {
    order: -1;
}

.logo {
    width: 15%;
}

.symbol {
    display: none;
}

@media (max-width: 800px) {
    .navbarright {
        flex-direction: column;
        align-items: center;
    }

    .symbol {
        display: flex;
        
    }

    .navelement {
        display: flex;
    }
}